.form-externo__label {
	color: var(--cor-quarta);
	line-height: 24px;

	margin: 1.25em 0 0.25em 0;
}

.form-externo__input {
	font-family: var(--fonte);
	text-align: center;
	background-color: var(--cor-bg-secundaria);
	width: 290px;

	border: none;
	border-radius: 6px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

	padding: 1em;
}

.form-externo__input::placeholder {
	color: var(--cor-quinta);
	font-family: var(--fonte);
	text-align: center;
}

.form-externo__input:focus {
	border: 2px solid var(--cor-botoes);
}

.form-externo__ordem--desktop {
	display: flex;
	flex-direction: column-reverse;
}

.form-externo__item--desktop {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-externo__esqueci-senha {
	color: var(--cor-botoes);
	font-size: 12px;
	line-height: 24px;
	text-decoration: underline;
	margin: 0.75em 0 0.25em 0;
}

.form-externo__input--senha {
	position: relative;
}

.form-externo__input--icone-senha {
	background-image: var(--icone-senha);
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;

	height: 16px;
	width: 18px;

	top: 1.25em;
	right: 1.25em;

	position: absolute;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.form-externo__label {
		font-size: 18px;
	}

	.form-externo__label {
		margin-bottom: 0.5em;
	}

	.form-externo__input {
		width: 340px;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.form-externo__label {
		font-weight: 600;
	}

	.form-externo__input--desktop {
		width: 550px;
	}

	.form-externo__ordem--desktop {
		display: flex;
		flex-direction: column-reverse;
	}

	.form-externo__item--desktop {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}