.mensagem__container {
	padding: 1.5em;

	min-height: calc(100vh - 100px - 100px);
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

.mensagem__titulo {
	color: var(--cor-principal);
	line-height: 20px;

	width: 75%;
	margin: 2em auto 1.5em auto;

	text-align: center;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.mensagem__container {
		padding-top: 3em;
		padding-bottom: 2em;

		background-image: var(--img-bg-2);
		background-position: top 3em right 0;
		background-repeat: no-repeat;
		background-size: 120px;

		min-height: calc(100vh - 150px - 100px);
	}

	.mensagem__titulo {
		font-size: 18px;
		line-height: 26px;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.mensagem__container {
		padding-top: 2em;

		background-position: top 2.5em right 0;
	}

	.mensagem__titulo {
		width: 40%;
	}
}