body {
	font-family: var(--fonte);
	font-size: 16px;
	font-weight: 400;
	background-color: var(--cor-bg-principal);

	background-image: var(--img-bg-1);
	background-repeat: no-repeat;
	background-size: 350px;
	background-position: top left -0.25em;
}

.body__inicial {
	background-color: var(--cor-principal);
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	body {
		background-size: 575px;
		background-position: top -1em left -0.25em;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	body {

	}
}