.cadastro__container {
	padding: 3em 0;

	min-height: calc(100vh - 100px - 100px);
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: var(--img-bg-3);
	background-size: 90px;
	background-position: top 13em left -0.5em;
	background-repeat: no-repeat;
}

.cadastro__logo {
	margin-bottom: 1.25em;
}

.cadastro__texto {
	color: var(--cor-principal);
	line-height: 21px;

	text-align: center;
	margin: 0.5em 0;
	padding: 0 1em;
}

.cadastro__texto--login {
	margin: 1.5em 0;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.cadastro__container {
		background-image: var(--img-bg-2);
		background-position: top 7em right 0;
		background-size: 120px;

		min-height: calc(100vh - 150px - 100px);
	}

	.cadastro__logo {
		width: 250px;
		margin: 1em 0;
	}

	.cadastro__bloco-texto {
		width: 80%;
		margin: 1.5em auto 1.5em auto;
	}

	.cadastro__texto {
		font-size: 18px;
		line-height: 26px;
		margin: 0;
	}

	.cadastro__texto--login {
		margin: 1.25em 0 0.75em 0;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.cadastro__container {
		padding: 0 0 5em 0;

		background-position: top 0.5em right 0;
	}

	.cadastro__bloco-texto {
		width: 45%;
	}

	.cadastro__texto--login {
		margin: 2em 0 2em 0;
	}
}