.botoes {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1em;
}

.botoes__link {
	color: var(--cor-branco);
	font-weight: 600;
	text-decoration: none;
	font-family: var(--fonte);
	font-size: 16px;

	background-color: var(--cor-botoes);

	width: 180px;
	border: none;
	border-radius: 6px;
	margin: 0.5em 0;
	padding: 0.5em 1em;

	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

	transition: 0.2s;

	cursor: pointer;
}

.botoes__link--inicial {
	padding: 1em;
}

.botoes__link:hover, .botoes__link:active {
	background-color: var(--cor-botoes-hover);
	transform: scale(1.1);
}

.botoes__link--formulario {
	box-shadow: none;
	margin-top: 2em;

	cursor: pointer;
}

.botoes__link--exclamacao {
	display: none;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.botoes__link {
		font-size:  18px;
	}

	.botoes__link--tablet {
		width:  300px;
		padding: 1em 1.5em;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.botoes__link--exclamacao {
		display: initial;
	}
}