.categorias {
	text-align: center;

	margin-top: 1.5em;
}

.categorias__item {
	display: none;
}

.categorias__texto {
	color: var(--cor-botoes);
	font-size: 12px;

	padding: 0.25em 0.5em;
	margin: 0 1em;
}

.categorias__texto:hover {
	text-decoration: underline;
}

.categorias__item--todos:checked ~ .categorias__texto--todos,
.categorias__item--caes:checked ~ .categorias__texto--caes,
.categorias__item--gatos:checked ~ .categorias__texto--gatos {
	color: var(--cor-branco);
	text-decoration: none;
	background: var(--cor-botoes);
	border-radius: 5px;
}

.categorias__item--caes:checked ~ .card__lista > .card--gatos {
	display: none;
}

.categorias__item--gatos:checked ~ .card__lista > .card--caes {
	display: none;
}

.categorias__linha {
	border-color: transparent;
	margin-top: 0.25em;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.categorias {
		margin: 2em 0 1em 0;
	}
}