.inicial__container {
	padding-top: 4em;

	text-align: center;

	background-image: var(--img-bg-2);
	background-repeat: no-repeat;
	background-size: 90px;
	background-position: top 4.5em right -1.5em;
}

.inicial__titulo {
	color: var(--cor-branco);
	font-size: 26px;
	font-weight: 500;
	line-height: 3em;
	margin-top: 0.25em;
}

.inicial__texto {
	color: var(--cor-branco);
	line-height: 1.5em;
	padding: 0 4em;
}

.inicial__texto--tablet {
	display: none;
}

.inicial__imagem {
	margin: 1em auto 0 auto;

	background-image: url("../img/ilustracao-home.svg");
	background-repeat: no-repeat;
	background-position: top center;

	width: 100vw;
	height: 295px;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.inicial__container {
		background-position: top 5.5em right 0;
		background-size: 120px;
	}

	.inicial__logo {
		width: 250px;
		margin: 1em 0;
	}

	.inicial__titulo {
		font-size: 28px;
	}

	.inicial__texto {
		font-size: 18px;
		width: 50%;
		margin: 0.5em auto 1.5em auto;
	}

	.inicial__texto--mobile {
		display: none;
	}

	.inicial__texto--tablet {
		display: block;
	}

	.inicial__imagem {
		background-size: 320px;

		width: 70vw;
		height: 380px;
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.inicial__container {
		padding-top: 0em;

		background-position: top 1em right 0;
	}

	.inicial__texto {
		width: 35%;
	}
}