.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.menu__lista {
	display: flex;
	align-items: center;
	position: relative;
}

.menu__item {
	margin-right: 3em;
}

.menu__link {
	text-decoration: none;
	cursor: pointer;
}

.menu__link--logo {
	display: none;
}

.menu__icone {
	width: 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;

	position: relative;
}

.menu__icone--home {
	background-image: var(--img-link-home);
}

.menu__link:hover > .menu__icone--home,
.menu__link:active > .menu__icone--home {
	background-image: var(--img-link-home-hover);
}

.menu__icone--mensagem {
	background-image: var(--img-link-mensagem);
}

.menu__link:hover > .menu__icone--mensagem,
.menu__link:active > .menu__icone--mensagem {
	background-image: var(--img-link-mensagem-hover);
}

.menu__item--usuario {
	text-align: right;
	position: absolute;
	right: 0;
	text-align: right;
}

.menu__usuario {
	width: 40px;
	height: 40px;

	background-image: var(--img-link-usuario);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;

	position: relative;
}

.menu__usuario--foto {
	background-image: var(--img-link-usuario-foto);
	background-size: 40px;
	border-radius: 50%;
	border: 1px solid var(--cor-secundaria);
}

.menu__link:hover > .menu__usuario {
	transform: scale(1.1);
}

.menu__descricao {
	color: var(--cor-branco);
	font-size: 10px;
	line-height: 1.2;

	background: var(--cor-botoes);
	padding: 0.5em 1em;
	border-radius: 0 5px 5px 5px;
	margin-top: 5px;

	position: absolute;

	display: none;
}

.menu__link:hover > .menu__descricao {
	display: inline-block;
}

.menu__descricao--usuario {
	text-align: right;
	right: 0;

	border-radius: 5px 0 5px 5px;
	width: 45px;
}

/* - - - Tablet - - - */

@media screen and (min-width: 768px) {
	.menu__link--logo {
		display: block;
	}

	.menu__logo {
		width: 128px;
		height: 31px;

		background-image: var(--img-logo);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 128px;
	}

	.menu__item {
		margin-right: 4em;
	}

	.menu__usuario {
		width: 48px;
		height: 48px;
		background-size: 48px;
		border-radius: 50%;
		border: 1px solid var(--cor-secundaria);
	}

	.menu__usuario--foto {
		background-size: 48px;
		border: 2px solid var(--cor-secundaria);
	}
}

/* - - - Desktop - - - */

@media screen and (min-width: 1280px) {
	.menu {
		margin: 0 3.5em;
	}
}